html, input, button {
    font-family: sans-serif;
    font-size: 12pt;
}
input {
    width: 70px;
    text-align: center;
}
tr td:last-child {
    text-align: center;
}
footer {
    margin-top: 12pt;
}

#espacador {
    height: 12pt;
}
